<a href="https://colab.research.google.com/github/mr-karii1945/Python-basic-kadai/blob/main/Python%E3%80%80%E5%9F%BA%E7%A4%8E%E7%B7%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(1+2)

3

In [ ]:
age = 18 # 年齢

if age < 20:
  '''
  # 未成年の場合
  print("ジュースで乾杯！")
else:
  '''
  # 成年の場合
  print("お酒で乾杯！")
  # インデントは半角２文字分あける

お酒で乾杯！

In [ ]:
print("こんにちわ")
print("今日はいい天気ですね")
# これが文字列型　シングルもしくはダブルクォーテーションで囲む

こんにちわ
今日はいい天気ですね

In [ ]:
print(-123)
# これが整数型　数字は半角で入力
print("１００")
# 全角で実行する場合は全角数字をダブルクォーテーションで囲む

-123
１００

In [ ]:
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(30 / 3)
print(45 % 8)

# Pythonの割り算は理由関係なく、少数扱いになる floatは浮動小数点型

print(type(30 / 3))

63
18
90
10.0
5
<class 'float'>

In [ ]:
print(45 + 1.5)
print(3 - 1.2)
print(15 * 0.6)
print(3 / 0.3)
print(45 % 0.8)

46.5
1.8
9.0
10.0
0.1999999999999975

In [ ]:
print("今日の天気は"+"晴れ")
print("今日の天気は""曇り")

今日の天気は晴れ
今日の天気は曇り

In [ ]:
print("降水確率" + str(50) + "%")
# 文字列と数字を繋げたい時にはstr関数を用いる

降水確率50%

In [ ]:
print("晴れ" * 5)
print("晴れ" + "晴れ" + "晴れ" + "晴れ" + "晴れ")

晴れ晴れ晴れ晴れ晴れ
晴れ晴れ晴れ晴れ晴れ

In [ ]:
user_name = "侍太郎"
print(user_name)
# user_nameの部分が変数

侍太郎

In [ ]:
user_name = "侍太郎"
print(user_name)

user_name = "侍花子"
print(user_name)

侍太郎
侍花子

In [ ]:
# 整数型と浮動小数点型の足し算
number1 = 5
number2 = 2.5
print(number1 + number2)

# 文字列型と文字列型の連結
last_name = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [ ]:
last_name = "侍"
first_name = "太郎"
sister_name = "花子"

# 3つの変数を文字列内に埋め込んで表示　下記で変数名の中身をそれぞれに分けて表示している
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [ ]:
'''
# 上辺：10㎝
# 下辺：20㎝
# 高さ：5㎝
# 公式：(上辺+下辺)＊高さ/2
'''

print("台形の面積:" + str(((10 + 20) * 5) / 2) + "cm²")

print("台形の面積:",(10+20)*5/2,"cm²")

台形の面積:75.0cm²
台形の面積: 75.0 cm²

In [ ]:
user_name = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

print(user_name[1]) # 2番目の要素だけを表示

user_name[1] = "侍花子" # 2番目の要素を更新
print(user_name)

user_name.append("侍五郎") # 6番目の要素を追加
print(user_name)

user_name.pop(2) # 3番目の要素を削除 (0始まりのため2を指定)
print(user_name)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
country_name = ("日本", "アメリカ", "イギリス", "フランス")

print(country_name[2]) # 3番目の要素を取り出す

print(country_name) # すべての要素を取り出す

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [ ]:
country_names = {"アメリカ", "イギリス", "日本", "フランス"}

print(country_names) # セット全体を表示

country_names.add("ドイツ") # 「ドイツ」をセットに追加
print(country_names)

country_names.remove("イギリス") # 「イギリス」をセットから削除
print(country_names)

{'アメリカ', 'イギリス', 'フランス', '日本'}
{'イギリス', 'ドイツ', 'アメリカ', 'フランス', '日本'}
{'ドイツ', 'アメリカ', 'フランス', '日本'}

In [ ]:
personal_data = {"name": "侍太郎", "age":"36", "gender": "男性"} # 連測配列を作成

print(personal_data["name"]) # キー「name」の値を表示

print(personal_data) # 連想配列全体を表示

personal_data["age"] = 37 # キー「age」の値を更新

personal_data["address"] = "東京都" # 新しく要素(キーと値)を追加

print(personal_data)

侍太郎
{'name': '侍太郎', 'age': '36', 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}

In [ ]:
list=[
    "月曜日は晴れです",
    "火曜日は雨です",
    "水曜日は晴れです",
    "木曜日は晴れです",
    "金曜日は曇りです",
    "土曜日は曇りのち雨です",
    "日曜日は雷雨です"]

print(list[2])

dictionary={
    "mon" : "晴れ",
    "tue" : "雨",
    "wed" : "晴れ",
    "thu" : "晴れ",
    "fri" : "曇り",
    "sat" : "曇りのち雨",
    "sun" : "雷雨"
    }

print(dictionary["wed"])

水曜日は晴れです
晴れ